/*---------------Global Styling-------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

/* The main background image */
html,
body {
    height: 100%;
}

body {
    background-image: url("../images/funky-lines.png");
}

.navbar {
    padding: 0;
    border-bottom: #dddddd;
    border-width: 2px;
    border-style: solid;
}

.bg-light {
    background-color: #ffffff!important;
}

.container {
    padding: 0;
}

.card {
    margin-bottom: 30px;
}

/* Helps push the margin to the bottom of the content no matter how long the content is */

.push {
    height: 78px;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    padding: 20px;
    border-bottom: #dddddd;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.display-4 {
    font-size: 2rem;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 30px;
}

#contentContainer {
    padding: 30px;
}
/* Styles the paragraphs inside the content box */

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    display: inline;
    font-size: 1.2rem;
    color: #777777;
}

.footWrap {
    min-height: 100%;
    margin-bottom: -78px;
}

/*---------------About Me-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------*/

/* Image in About Me section */

.container img {
    width: 250px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    float: left;
    padding: 0;
    border-radius: 0;
}

/*---------------Contact Page-----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

/* Button at the bottom of the contact page */

#submit {
    /* width: auto; */
    background-color: #4aaaa5;
    /* border: none; */
    /* padding: 10px 25px; */
    color: #ffffff;
}

/*--------------Portfolio---------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/

/* The container that centers the project grid */

.projectset {
    margin: 0 60px;
    width: 100%;
    height: auto;
}

/* The container that holds the individual projects and titles */

.project {
    float: left;
    position: relative;
    width: 250px;
    height: 250px;
    margin: auto;
    
}

/* Clears the margins around the project images */

.project img {
    margin:0;
}

/* Positions and styles the titles for each project */

.title {
    position: absolute;
    width: 250px;
    height: auto;
    background-color: #4aaaa5;
    text-align: center;
    bottom: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 0;
    font-size: 20px;
}
/*---------------Footer-----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

/* The Footer at the bottom of the page */

.footer {
    background-color: #666666;
    height: 78px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    margin: 0;
    padding: 0;   
}

/* The copyright text in the footer */

.footer p {
    color: #ffffff;
    margin: 0 auto;
    max-width: 70px;
    font-size: 12px;
    padding-top: 45px;
    display: block;
}

